@import url("../../theme/vars.css");

.Header {
  margin-top: 1.5rem;
}

@media (--larger-viewport) {
  .Header {
    float: left;
    margin-top: 2.25rem;
    text-align: right;
    width: 12.5rem;
  }
}
