@import url("../../theme/vars.css");

.Logotype {
  inset-block-start: calc(2rem / 16);
  margin: 0;
  position: relative;
}

.Logotype-link {
  color: var(--text-emphasis-color);
  display: block;
}

.Logotype-link:focus {
  outline: 0;
}

.Logotype-link:hover {
  text-decoration: none;
}

.Logotype-link:active {
  color: var(--text-emphasis-color);
}

.Logotype-subtitle {
  color: var(--theme-color);
  display: block;
}
