@import url("../../theme/vars.css");

.Avatar {
  height: calc(((var(--pica) * 1.5) * 4) + 0.01);
  margin: 1.5rem 1.5rem 0 0;
}

.Avatar-image {
  border: calc(1rem / 16) solid var(--border-color);
}
