@import url('../../theme/vars.css');

.Avatar {
  float: left;
  height: calc(((var(--pica) * 1.5) * 5) + 0.01);
  margin: 0 1.5rem 0 0;
}

.Avatar-image {
  border: 1px solid color(var(--background-color) contrast(100%) lightness(90%));
}
