@import url("../../theme/vars.css");

.Screenshot {
  border: 1px solid var(--border-color);
  margin-block: 1.5rem;
  max-inline-size: 100%;
  position: relative;
}

.Screenshot-image {
  block-size: auto !important;
  filter: blur(2px);
  inset: 0;
  max-width: 100%;
  position: absolute;
  transition: none;
  visibility: hidden;
}

.Screenshot-shim {
  inline-size: 100%;
}

@media (prefers-color-scheme: dark) and (forced-colors: none) {
  .Screenshot.is-loaded .Screenshot-shim,
  .no-js .Screenshot .Screenshot-shim {
    outline: 0.75rem solid #1c1c1c;
  }
}

.Screenshot.is-loaded,
.no-js .Screenshot {
  border-color: transparent;
}

.Screenshot.is-loaded .Screenshot-image,
.no-js .Screenshot-image {
  filter: blur(0);
  transition: filter 0.2s;
  visibility: visible;
}

.ScreenshotLink:focus-visible {
  outline: 0;
}

.ScreenshotLink:focus-visible .Screenshot {
  border-radius: 0.125rem;
  outline: 0.125rem solid var(--theme-color);
  outline-offset: 0.0625rem;
}
