@import url("../../theme/vars.css");

.Screenshot {
  border: 1px solid var(--border-color);
  margin: 1.5rem 0;
  max-width: 100%;
  position: relative;
}

.Screenshot-image {
  bottom: 0;
  filter: blur(2px);
  height: auto !important;
  left: 0;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: none;
  visibility: hidden;
}

.Screenshot-shim {
  width: 100%;
}

.Screenshot.is-loaded,
.no-js .Screenshot {
  border-color: transparent;
}

.Screenshot.is-loaded .Screenshot-image,
.no-js .Screenshot-image {
  filter: blur(0);
  transition: filter 0.2s;
  visibility: visible;
}
