@import url("../../theme/vars.css");

@media (--larger-viewport) {
  .Main {
    float: inline-end;
    inline-size: 25rem;
    inset-block-start: 0;
    margin-block-start: 3.75rem;
    position: sticky;
  }
}
