@import url('../../theme/vars.css');

.Screenshot {
  visibility: visible;
  max-width: 100%;
  height: auto !important;
  margin: 1.5rem 0;
  transition: filter .2s;
  filter: blur(0);
}

.Screenshot.is-loading {
  visibility: hidden;
  transition: none;
  filter: blur(2px);
}
