:root {
  --background-color: #fefefe;
  --theme-color: #e01074;

  --border-color: color(var(--background-color) shade(10%));
  --link-color: color(var(--theme-color) hue(-120deg) saturation(-30%));
  --text-color: color(var(--background-color) contrast(0%));
  --text-emphasis-color: color(var(--background-color) contrast(97%));

  --long-primer: 0.75rem;
  --pica: 1rem;
  --english: 1.5rem;
  --great-primer: 2.25rem;
}

@custom-media --larger-viewport (min-width: 43.75em);
