:root {
  --avatar-color: #ffffff;
  --background-color: #f8fbfb;
  --border-color: #e2e4e4;
  --link-color: #3e72a6;
  --text-color: #646766;
  --text-emphasis-color: #0b0c0c;
  --theme-color: #b14b7d;

  --long-primer: 0.75rem;
  --pica: 1rem;
  --english: 1.5rem;
  --great-primer: 2.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --avatar-color: #0b0c0c;
    --background-color: #0e0f0f;
    --border-color: #222424;
    --link-color: #89b7e5;
    --text-color: #a5a8a7;
    --text-emphasis-color: #f1f4f4;
  }
}

@custom-media --larger-viewport (min-width: 43.75em);
