@import url("../../theme/vars.css");

.Header {
  margin-block-start: 1.5rem;
}

@media (--larger-viewport) {
  .Header {
    float: inline-start;
    inline-size: 12.5rem;
    margin-block-start: 2.25rem;
    text-align: end;
  }
}
