@import url("../../theme/vars.css");

.Avatar {
  margin-block-end: 0;
  margin-block-start: 1.5rem;
  margin-inline-end: 1.5rem;
}

.Avatar-image {
  block-size: calc(96rem / 16);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  color: var(--theme-color);
  display: block;
  inline-size: calc(96rem / 16);
}
