@import url('../../theme/vars.css');

@media (min-width: 639px) {
  .Nav {
    float: left;
  }
}

.Nav-list {
  margin-top: 0;
}

.Nav-heading {
  font-size: var(--pica);
  line-height: 1.5;
  margin-bottom: 0;
}
