/*
 * Scott Boyle the CSS
 * a really weird hodge-podge of (mostly) ancient approaches
 * don't do your css like this!
 *
 * ==|== monospaced ==========================================================
 */


@font-face {
  font-family: 'equiplight';
  src: url('/fonts/equiplig-webfont.woff2') format('woff2'),
       url('/fonts/equiplig-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* =white-space reset
----------------------------------------------- */
body,
h1,
h2,
h3,
h4,
h5,
p,
ol,
ul,
li,
pre,
form {
  margin: 0;
  padding: 0;
}

/* =skin
----------------------------------------------- */
body {
  color: grey;
  background: #fff;
}

h2,
h3,
h4,
strong,
b {
  color: black;
}

h1 strong {
  color: #ec118f;
}

h2 small {
  color: grey;
}

a:link,
a:visited {
  color: #118feb;
}

a:hover {
  color: #0b63a3;
}

h1 a:link,
h1 a:visited {
  color: black;
}

#content img {
  border-color: #dedede;
}

/* =generally
----------------------------------------------- */
html {
  overflow-y: scroll;
}

body {
  font-size: x-small;
  font-family: equiplight, arial, "helvetica neue", helvetica, sans-serif;
}

::-moz-selection {
  background: #fde5f3;
  text-shadow: none;
}

::selection {
  background: #fde5f3;
  text-shadow: none;
}

* {
  font-weight: normal !important;
}

p,
ul,
ol,
pre {
  font-size: 130%; /* 13px */
  line-height: 1.5; /* 19px */
}

abbr {
  border: none;
}

a {
  -webkit-transition: color 250ms ease-in-out;
     -moz-transition: color 250ms ease-in-out;
      -ms-transition: color 250ms ease-in-out;
       -o-transition: color 250ms ease-in-out;
          transition: color 250ms ease-in-out;
}

a:link,
a:visited {
  text-decoration: none;
  font-weight: normal;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/* =structure
----------------------------------------------- */
#wrap {
  position: relative;
  margin: 0 auto;
  width: 62em;
}

#head {
  position: relative;
  height: 36px;
}

#nav {
  position: absolute;
  top: 39px;
  left: 14px;
  padding-top: 6.9em;
}

#content {
  position: absolute;
  top: 39px;
  left: 13.4em;
  margin-left: 6.9em;
  padding-top: 6.9em;
  padding-bottom: 23px;
  width: 40.8em;
}

#foot {
 position: absolute;
 top: 40.9em;
 left: 14px;
}

/* =headings
----------------------------------------------- */

h1 {
  position: absolute;
  top: 40px;
  left: 13px;
  width: 7em;
  height: 50px;
  line-height: 0.8518518; /* 23px */
  font-size: 27px;
  font-weight: normal;
}

h1 strong {
  position: absolute;
  top: .926em;
  left: 0;
  font-weight: normal;
}

/* =specifics
----------------------------------------------- */
#logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
}

#nav ul {
  list-style: none;
  margin-bottom: 19px;
  line-height: 1.5; /* 19px */
}

#nav li {
  margin:0;
}

#content h2 {
  margin: 0 0 1em;
  font-size: 190%;
  line-height: 1; /* 19px */
}

#content h3 {
  margin: 0;
  font-size: 140%;
  line-height: 1.4; /* 19px */
}

#content h4,
#content h5 {
  margin: 0 0 1.3571428em;
  font-size: 140%;
  line-height: 1.4; /* 19px */
}

#content p {
  margin-bottom: 19px;
  line-height: 1.5; /* 19px */
}

#content ul {
  list-style: square;
  margin-bottom: 19px;
  line-height: 1.5; /* 19px */
}

li {
  margin-left: 16px;
}

#content img {
  margin-left: 1px;
  margin-top: 0.3em;
  border-width: 1px;
  border-style: solid;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow:         0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 250ms ease-in-out;
     -moz-transition: -moz-box-shadow 250ms ease-in-out;
      -ms-transition: -ms-box-shadow 250ms ease-in-out;
       -o-transition: -o-box-shadow 250ms ease-in-out;
          transition: box-shadow 250ms ease-in-out;
}

#content a:hover img {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow:         0 4px 8px rgba(0, 0, 0, 0.1);
}

#content .thumb {
  float: left;
  margin: 0 18px 0 0;
}

#content .meta {
  color: #888;
  font-size: 84.6%;
}

/* =responsive
----------------------------------------------- */

@media only screen and (max-width: 620px) {
  body {
    padding: 0 36px;
  }
  #wrap {
    width: auto;
  }
  #head {
    height: 18px;
  }
  h1,
  h1 strong,
  #logo {
    position: static;
  }
  #nav {
    position: static;
    padding-top: 0;
  }
  #content {
    position: static;
    padding: 18px 0 0;
    max-width: 100%;
    margin: 0 auto;
  }
  #content img {
    height: auto !important;
    max-width: 100%;
  }
}
