@import url("../../theme/vars.css");

@media (--larger-viewport) {
  .Nav {
    float: inline-start;
    inline-size: 12.5rem;
    margin-block-start: 1.5rem;
    text-align: end;
  }
}

.Nav-linklog {
  margin-block-start: 0;
}

.Nav-heading {
  font-size: var(--pica);
  line-height: 1.5;
  margin-block: 0;
}

.Nav-list {
  margin-block-end: 1.5rem;
  margin-block-start: 0;
}
